
@{
    ViewData["Title"] = "TrustedNode";
}
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
<script src="~/assets/Chart.min.js"></script>
<script src="~/assets/utils.js"></script>
<link rel="stylesheet" type="text/css" href="~/assets/style.css" />


<div class="content">
    

    </div>
